.ProfileContainer {
  width: 100%;
  object-fit: contain;
}

.pictureAndDescriptionContainer {
  display: flex;
}


.image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.profilePictureContainer {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: min-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  &:hover {
    cursor: pointer;
  }
  &:hover .uploadFileButton {
    bottom: 0;
    text-decoration: none;
  }
}

.uploadFileButton {
  width: 100%;
  background-color: #0000008a !important;
  padding: 2px 0 !important;
  color: white !important;
  position: absolute !important;
  bottom: -30px;
  transition: bottom .3s linear;
}

.profilePictureUpload {
  position: absolute;
  bottom: 0;
}

.profilePictureUploadBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  height: 300px;
  object-fit: cover;
}

.PostContainer {
  width: 200px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 10px 5px;
  margin: 20px;
}

.PostContentImg {
  display: flex;
}

.PostCountLikes {
  margin: 0 0px 5px auto;
  width: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #20183a;
}

.postImage {
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
} 

.statusTextContainer {
  width: 302px;
}

.statusText {
  display: block;
  min-width: 164px;
  max-width: max-content;
  border: 1px solid black;
  border-radius: 6px;
  word-break: break-all;
  &:hover {
    cursor: pointer;
    background-color: rgb(214, 204, 204);
  }
}

.inputStatusText {
  width: 100%;
}