.friendContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 70px;
  margin: 5px;
}

.photo {
  border: 0px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.name {
  margin: 4px 0;
}