.currentPage {
    background-color: black;
    color: white;
}

.pageNumberListContainer {
    display: flex;
    list-style: none;
}

.pageNumberContainer {
    margin: 0 4px;
}

.button {
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
}