.NavigationContainer {
  width: min-content;
  height: 700px;
  padding: 20px 50px 20px 10px;
  background-color: rgb(163, 180, 179);
  color: white;
}

.NavigationContainer__item {
  margin: 10px 0;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}

.NavigationContainer__link {
  text-decoration: none;
  color: black;
}

