.NavigationContainer {
  margin: 0 0 0 30px;
  width: min-content;
  color: white;
}

.NavigationContainer__list {
  padding: 0;
}

.NavigationContainer__item {
  margin: 10px 0;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}

.NavigationContainer__link {
  text-decoration: none;
  color: black;
}

.NavigationContainer__item a.active {
  color: blue;
}

