.statusTextContainer {
  width: 302px;
}

.statusText {
  display: block;
  min-width: 164px;
  max-width: max-content;
  border: 1px solid black;
  border-radius: 6px;
  word-break: break-all;
  &:hover {
    cursor: pointer;
    background-color: rgb(214, 204, 204);
  }
}

.inputStatusText {
  width: 100%;
}