.UserItemContainer {
  display: flex;
  width: 500px;
  margin: 5px;
  border: 1px solid black;
}

.photo {
  border: 0px;
  width: 100px;
  height: 100px;
}

.name {
  margin: 4px 0;
}

.deleteFriendButton {
  background-color: black;
  color: white;
}

.addFriendButton {
  background-color: green;
  color: white;

}