.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
  }
  
  .dialogs .active {
    color: gold;
  }
  
  .dialogsItems {
    padding: 10px;
  }
  
  .dialog {
    
  }
  
  .messages {
    padding: 10px;
  }
  
  .message {
  
  }