.authorizationPanelWrapper {
    display: flex;
}

.authorizationPanelInfo {
    width: min-content;
    background-color: white;
    padding: 5px;
}

.authorizationPanel {
    display: flex;
    margin: 0 0 0 auto;
    width: min-content;
}

.infoText {
    margin: 2px 0;
}
